.MovieCards {
    position: relative;
    width: 100%;
    height: 100%;
    /* padding: 2rem; */
}
.movieDetails .mainbtn {
    width: 100%;
    align-items: center;
    justify-content: center;
    color: var(--background-color) !important;
}

.owl-carousel.owl-drag .owl-item {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.react-multiple-carousel__arrow--right::before {
    content: url("client/src/assets/images/rightarrow 15.svg") !important;
    background: transparent !important;
}
.react-multiple-carousel__arrow--left::before {
    content: url("client/src/assets/images/leftarrow.svg") !important;
    background: transparent !important;
}
.react-multiple-carousel__arrow--right {
    right: calc(0% + 1px);
}
.react-multiple-carousel__arrow--left {
    left: calc(0% + 1px);
}
.react-multiple-carousel__arrow {
    background: transparent;
}
.react-multiple-carousel__arrow:hover{
    background: none;
}
